.dropzone{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.img-upload{
  width:300px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.uploaded-img-container{
  display: grid;
  grid-template-columns: 400px 400px 400px 400px;
  padding: 10px;
  margin: 10px;
}

.uploadIcon{
  font-size: 36px;
  padding: 5px;
}

.select-text{
  font-size: 18px
}

.select-garment-container{
  width: 300px;
}
