.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.days-selection{
  width: 200px;
}

.no-tag-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days-img-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tagged-img-container{
  display: flex;
  flex-direction: row;
}
